
@font-face {
    font-family: 'Interstate-Regular';
    src: url('Font/Interstate-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('Font/HelveticaNeue.ttf') format('truetype');
}